<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
</head>

<body class="subpage" ng-app='app'>

    <header ng-include="'../header.html'"></header>

    <div ng-controller="controller" class="content">
        <h4>Generates workouts based on 3-sets: upper body / core / lower body</h4>
        <label>How is your mood today?
            <select ng-model="selectedMode">
                <option ng-repeat="m in moods">{{m}}</option>
            </select>
        </label>
        <div class="6u$ 12u$(small)">
            <input id="extra" type="checkbox" ng-model="workoutOptions.extra">
            <label for="extra">Create additional set</label>
        </div>
        <div class="6u$ 12u$(small)">
            <input id="bodyweight" name="bodyweight" type="checkbox" ng-model="workoutOptions.bodyweight">
            <label for="bodyweight">Bodyweight</label>
        </div>
        <div class="6u$ 12u$(small)">
            <input id="barbell" type="checkbox" ng-model="workoutOptions.barbell">
            <label for="barbell">Barbell</label>
        </div>
        <div class="6u$ 12u$(small)">
            <input id="kettlebell" type="checkbox" ng-model="workoutOptions.kettlebell">
            <label for="kettlebell">Kettlebell</label>
        </div>
        <div class="6u$ 12u$(small)">
            <input id="aerobic" type="checkbox" ng-model="workoutOptions.aerobic">
            <label for="aerobic">Aerobic</label>
        </div>
        <div id="workouts">
            <button class="submit special" ng-click="generateWorkout()">Create new workout</button>
        </div>
        <br>
        <div class="table-wrapper">
            <table class="alt">
                <tr ng-repeat="d in drills track by $index">
                    <td>{{d.name}}</td>
                    <td>{{d.type}}</td>
                    <td>{{d.limit}}</td>
                    <td>{{d.unit}}</td>
                </tr>
            </table>
        </div>
    </div>
    <br><br><br>
    </div>
    </section>

    <footer ng-include="'../footer.html'"></footer>


</body>

</html>