<!DOCTYPE html>
<html>      
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    </head>          
<body>
    
    <div ng-app="app" ng-controller="controller">
        <h2>>> BACONAO.NET</h2>
        <h3>Workout Generator</h3>
        <h5>based on 3-sets: upper body / core / lower body</h5>
        <label>How is your mood today?
            <select ng-model="selectedMode">
                <option ng-repeat="m in moods">{{m}}</option>
            </select>
        </label>
        <br><br>
        <label>Add extra set?
            <input type="checkbox" ng-model="workoutOptions.extra">
        </label>
        <label>Bodyweight?
            <input type="checkbox" ng-model="workoutOptions.bodyweight">
        </label>
        <label>Barbell?
            <input type="checkbox" ng-model="workoutOptions.barbell">
        </label>
        <label>Aerobic?
            <input type="checkbox" ng-model="workoutOptions.aerobic">
        </label>
        <br><br>
        <button ng-click="generateWorkout()">Create new workout</button>
        <br><br><br>
        <table>
            <tr ng-repeat="d in drills track by $index">
              <td>{{d.name}}</td>              
              <td>{{d.limit}}</td>
              <td>{{d.unit}}</td>
            </tr>
        </table>   
    </div>
    <br><br><br>
    
    <span>Issues and requests:        
        <a href="https://github.com/eitanbehar/workout/issues" target="_blank">eitanbehar @ GitHub </a>
    </span>      
    

<script src="app.js"></script>
<script src="controller.js"></script>

</body>
</html>