<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
</head>

<body class="subpage" ng-app="app">

    <header ng-include="'../header.html'"></header>

    <div ng-controller="controller" class="content">
        <h4>Calculates straigh distance between two points in Earth<br>
            ...and to the train stations in Tel Aviv</h4>
        <label>Enter address and click 'Get Coordinates':</label>
        <tr>
            <table>
                <td>
                    <div class="6u 12u$(xsmall)">
                        <label>From:
                            <input type="text" name="from" id="from" ng-model="fromAddress"
                                placeholder="From (address)" />
                            {{ from }}
                        </label>
                    </div>
                </td>
                <td style="vertical-align:middle">
                    <button class="button special small" ng-click="getCoordinates(0, fromAddress)">Get
                        Coordinates</button>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="fromAddressElement in fromAddressList">
                            <td>{{ fromAddressElement.name }}</td>
                            <td style="vertical-align:middle">
                                <button class="button special small"
                                    ng-click="selectAddress(0, fromAddressElement)">Select</button>
                            </td>
                        </tr>
                    </table>
                </td>
        </tr>
        <tr>
            <td>
                <div class="6u 12u$(xsmall)">
                    <label>To:
                        <input type="text" name="to" id="to" ng-model="toAddress" placeholder="To (address)" />
                        {{ to }}
                    </label>
                </div>
            </td>
            <td style="vertical-align:middle">
                <button class="button special small" ng-click="getCoordinates(1, toAddress)">Get Coordinates</button>
            </td>
            <td>
                <table>
                    <tr ng-repeat="toAddressElement in toAddressList">
                        <td>{{ toAddressElement.name }}</td>
                        <td style="vertical-align:middle">
                            <button class="button special small"
                                ng-click="selectAddress(1, toAddressElement)">Select</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </table>
        <div id="distance">
            <button class="submit special" ng-click="calculateDistance()">Calculate Distance</button>
        </div>
        <br>
        <table>
            <tr ng-repeat="x in destinations | orderBy: 'distance'">
                <td>{{ x.name }}</td>
                <td>{{ x.distance }} meters</td>
                <td><a href="{{ x.map }}" target="_blank" class="button special small">Directions</a></td>
            </tr>
        </table>

    </div>
    <br><br>
    </div>
    </section>

    <footer ng-include="'../footer.html'"></footer>

</body>

</html>